body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    color: black;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: black;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #000922;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}